$mainColor: white;

.color {
  position: absolute;
  top: "0";
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

.card {
  width: "JS(width)";
  flex-direction: row;
}

.box {
  width: "JS(vw * 40)";
  height: 100;
  background-color: #ccc;
  margin-left: 20;
  margin-top: 10;
  margin-bottom: 10;
}

.body {
  width: "JS(width)";
  flex: 1;
}

.image {
  width: "JS(vw * 40)";
  height: 90;
  resize-mode: cover;
  margin-left: 8;
  margin-top: 20;
  margin-bottom: 10;
}

.content {
  width: "JS(vw * 50)";
  margin-left: 14;
  margin-top: 20;
  margin-bottom: 30;
}

.greyRow {
  background-color: #eee;
}

.menuView {
  background-color: rgba(255, 255, 255, 0.8);
  height: 40;
}

.menuItemView {
  margin: 10;
  height: 20;
}

.menuItem {
  margin: 2;
  margin-left: 16;
  margin-right: 16;
  font-size: 11;
  font-weight: 500;
}

.menuItemActive {
  background-color: #4382D0;
  border-radius: 16;
}

.menuActiveText {
  color: white;
}

.bannerImage {
  width: "JS(width)";
  height: "JS(width / 2 + 40)";
  background-color: rgba(67, 130, 208, 0.2);
}
.placeHolderImage {
  align-items: center;
  width: "JS(width)";
  height: "JS(width/3)";
  justify-content: center;
  background-color: rgba(67, 130, 208, 0.2);
}
.backgroundOne {
  background-color: rgba(58, 75, 133, 0.6);
}
.backgroundTwo {
  background-color: rgba(188, 59, 36, 0.6);
}
.backgroundThree {
  background-color: rgba(57, 174, 84, 0.6);
}

.bannerText {
  position: absolute;
  bottom: 30;
  background-color: rgba(0, 0, 0, 0.3);
	width: "JS(vw * 60)";
}

.bannerTitle {
  margin: 12;
	margin-bottom: 2;
  color: white;
  font-size: 15;
}
.bannerDate {
	color: rgba(255, 255, 255, 0.7);
	font-size: 9;
	font-weight: 500;
	margin-left: 12;
	margin-bottom: 12;
}

.time {
	color: #787878;
	font-size: 11;
  margin-top: 4;
}

.tagView {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 6;
}
.tag {
  background-color: #aaa;
  border-radius: 12;
  align-self: flex-start;
  margin-right: 4;
}
.tagText {
  font-size: 9;
  margin: 1;
  margin-left: 8;
  margin-right: 8;
  color: white;
  font-weight: 600;
}


.hlist {
  flex: 1;
  background-color: white;
  padding: 0px;
}



// product detail
.color  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EBEBEB;
}
.title {
  color: #333;
  font-size: 22;
  text-align: center;
  font-weight: 200;
  margin-top: 12;
}

.titleSmall {
  font-size: 13;
  color: #999;
  text-align: center;
  margin-bottom: 10;
  margin-top: 4;
}
.productItem  {
  width: "JS(width-30)";
  height: "JS( (width-20)*962/875)";
  margin: 5;
}
.detailPanel {
	height: 300;
	flex: 1;
	align-items: center;
	justify-content: flex-end;
}
.detailBlock {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
}
.detailDesc {
  color: #535353;
  font-weight: 300;
  font-size: 13;
  padding-top: 10px;
  text-align: center;
}

.largeImage {
  width: "JS(width)";
  height: "JS(width + 40)";
  resize-mode: cover;
}

.largeContent {
  width: "JS(width)";
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
}

.largeTitle {
  color: #fff;
  font-size: 18;
  padding: 20;
  padding-bottom: 0;
}

.largeTime {
	color: #ccc;
	font-size: 12;
  margin-top: 4;
  padding: 20;
  padding-top: 0;
}


// new detail style
.title {
  color: #333;
  font-size: 22;
  text-align: center;
  font-weight: 200;
  margin-top: 12;
}


.titleSmall {
  font-size: 13;
  color: #999;
  text-align: center;
  margin-bottom: 10;
  margin-top: 4;
}
.productItem  {
  width: "JS(width-10)";
  height: "JS((width-20)*962/875)";
  margin: 5;
}

.detailPanel {
  height: 300;
  align-items: center;
  justify-content: flex-end;
}

.detailBlock {
  width: "JS(width)";
  align-items: center;
  background-color: #fff;
  padding: 20px; 
}

.detailDesc {
  color: #fff;
  font-weight: 600;
  font-size: 18;
  padding-top: 10px;
  text-align: center;
}

.html {
  margin-left: 12;
  margin-right: 12;
}
