a,
a:visited,
.list-icon ul li .fa,
.affa_feature_icon .fa,
.affa_feature_icon h4,
.affa_feature_icon_top .fa,
.affa_feature_icon_top h4,
.tbl-pricing .tbl-prc-col h4.tbl-prc-heading,
.tbl-pricing .tbl-prc-col h5.tbl-prc-sub-price,
.tbl-pricing .tbl-prc-col .tbl-prc-list li .fa,
#header .header-content .btn-header:hover,
#header .header-content .btn-header:focus {
  color: #f44242;
}

a:hover {
  color: #4a4a4a;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
.ie input[type="range"]:focus,
.ie9 input[type="range"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus,
.img-hover:hover,
.ie .img-hover:hover img {
  border-color: #f44242;
}

.btn-custom,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  color: #fff !important;
  background-color: #f44242;
}
.btn-custom:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.btn-custom:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
button:focus {
  color: #f44242 !important;
  background-color: #fff;
}

.btn-custom.btn-icon .fa,
button.btn-icon .fa {
  border-right-color: #f44242;
}
.btn-custom.btn-icon:hover .fa,
button.btn-icon:hover .fa,
.btn-custom.btn-icon:focus .fa,
button.btn-icon:focus .fa {
  border-right-color: #f44242;
}

.carousel-slider .slick-prev:hover,
.carousel-slider .slick-next:hover,
#header .header-content .btn-header,
.tbl-pricing.tbl-prc-recommended
  .tbl-prc-col.tbl-prc-col-recommended
  h4.tbl-prc-heading {
  background-color: #f44242;
}
.carousel-slider .slick-prev:hover,
.carousel-slider .slick-prev:focus {
  background: #2bd15d url(../../../images/carousel-slider-arrow-prev-hover.png)
    no-repeat center center;
}
.carousel-slider .slick-next:hover,
.carousel-slider .slick-next:focus {
  background: #2bd15d url(../../../images/carousel-slider-arrow-next-hover.png)
    no-repeat center center;
}
.carousel-slider .slick-dots li.slick-active button {
  background: #f44242;
}

.affa-form-subscribe input[type="submit"] {
  background-image: url(icon-form-subscribe.png);
}

#preloader .spinner {
  background-image: url(page-loader.gif);
}

#navigation {
  background-color: #f44242;
}
#navigation .nav > li > a,
#navigation .navbar-nav > li > a {
  color: #fff;
}
#navigation .navbar-nav > .active > a,
#navigation .navbar-nav > .active > a:hover {
  color: #f44242;
}
#navigation .nav-menu-button {
  background-color: #f44242;
}

@media (max-width: 767px) {
  #navigation .nav {
    background-color: #f44242;
  }
  #navigation .navbar-nav > .active > a {
    color: #fff;
  }
  #navigation .navbar-nav > .active > a:hover {
    color: #fff;
  }
}
